<main>
    <section class="espace-encadrant">
      <h2>Authentification</h2>
      <p>Connectez-vous à votre compte</p>
      <!-- Ajoutez d'autres fonctionnalités spécifiques à votre application -->
    </section>
  
    <section class="authentification">
      <!-- Formulaire d'authentification -->
      <h3>Authentification</h3>
      <form>
        <label for="identifiant">Identifiant</label>
        <input type="text" id="identifiant" name="identifiant">
  
        <label for="motdepasse">Mot de Passe</label>
        <input type="password" id="motdepasse" name="motdepasse">
  
        <div class="forgot-password">
          <a href="#">Mot de passe oublié ?</a>
        </div>
  
        <button type="submit">Se connecter</button>
      </form>
    </section>
  </main>
  