<main>
  <nav class="navbar" *ngIf="showNavbar">
    <ul>
      <li><a routerLink="/">Accueil</a></li>
      <li><a routerLink="/espace-stagiaire">Espace Stagiaire</a></li>
      <li><a routerLink="/espace-encadrant">Espace Encadrant(e)</a></li>
      <li><a routerLink="/espace-chef">Espace chef(e) departement </a></li>
      <!-- Ajoutez d'autres liens de navigation ici si nécessaire -->
    </ul>
  </nav>
  <section class="content animated-content">
    <router-outlet></router-outlet> <!-- Affiche le composant chargé par Angular -->
  </section>
  <footer class="footer" *ngIf="showFooter">
    <p>Contact: <a href="mailto:contact@atb.com">contact@atb.com.tn</a></p>
    <p>Tél : 71 351 155 N° vert : 80 10 03 47</p>
    <p>Siège Social : 9 Rue Hédi Nouira - 1001 Tunis Siège Lac 2 : Rue de la feuille d'érable lac 2 - Immeuble les Pins Bloc A - 1053 Tunis</p>
  </footer>
</main>
